{% extends "base2.htm" %}
{% load static %}

{% block local_head %}
    <link href="{% static 'sidebar/style.css' %}" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'sidebar/script.js' %}"></script>
{% endblock %}




{% block content %}
<section class="text-center animated fadeIn" style="animation-delay: .15s;">
    <header class="m-5">
        <div class="headline text-center">
            <div class="container">
                <div class="h1 text-primary fw-bold mb-3">{{ title }}</div>
            </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
            <div>test7 asdf adsf kljhsdf lkjhasdf lkjhasdf lkjhsadf lkjh3re alkjsh gapsu galksjdhg paoiusdg lakj fgpao8usg </div>
        </div>
    </header>
</section>
{% endblock content %}
    